// Theme Colours
$color-theme-primary: #e7c609 !global;
$color-theme-secondary: #640cac !global;
$color-theme-tertiary: #da13ae !global;
$color-theme-accent: #09e7b0 !global;

// Theme Layout
$layout-border-radius: 5px !global;
